<nav class="flex items-center justify-center flex-wrap pt-4 pb-2 sm:justify-between sm:px-6 sm:py-4 shadow">
    <div class="items-center">
        <span class="font-black text-2xl tracking-tight">
            <a href="/" class="no-underline text-indigo-dark hover:text-indigo-darker">Patrick Palmer</a>
        </span>
    </div>
    <div class="w-full flex items-center justify-center text-sm mb-2 md:text-base sm:w-auto font-bold">
        <div class="catalogue-item w-16 pt-2 text-center sm:h-8 sm:mt-4 sm:pt-0">
            <a href="/blog" class="flex-none no-underline text-indigo-dark hover:text-indigo-darker">Blog</a>
            <div class="catalogue-line"></div>
        </div>
        <div class="catalogue-item w-16 pt-2 text-center sm:h-8 sm:mt-4 sm:pt-0">
            <a href="/projects" class="flex-none no-underline text-indigo-dark hover:text-indigo-darker">Projects</a>
            <div class="catalogue-line"></div>
        </div>
    </div>
</nav>