<nav
    class="flex items-center justify-center flex-wrap pt-4 pb-2 bg-gradient-blue-to-purple shadow sm:justify-between sm:px-6 sm:py-3">
    <div class="items-center text-white">
        <span class="font-extrabold text-2xl tracking-tight">
            <a href="/" class="no-underline text-white hover:text-indigo-lightest">Patrick Palmer</a>
        </span>
    </div>
    <div class="w-full flex items-center justify-center text-sm mb-2 md:text-base sm:w-auto">
        <div class="catalogue-item w-16 pt-2 text-center sm:h-8 sm:mt-4 sm:pt-0">
            <a href="/blog" class="flex-none no-underline text-indigo-lighter hover:text-white">Blog</a>
            <div class="catalogue-line"></div>
        </div>
        <div class="catalogue-item w-16 pt-2 text-center sm:h-8 sm:mt-4 sm:pt-0">
            <a href="/projects" class="flex-none no-underline text-indigo-lighter hover:text-white">Projects</a>
            <div class="catalogue-line"></div>
        </div>
    </div>
</nav>